body { font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f2f2f2; }
header { background-color: #242424; color: #fff; padding: 20px; text-align: center; position: relative; }
header h1 { font-size: 24px; margin: 0; }

.button { position: absolute; left: 20px; top: 20px; background-color: #fff; color: #242424; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer; }
.button:hover { background-color: #ccc; }

.detalle { padding: 20px; text-align: center; }
.detalle img { width: 300px; border-radius: 10px; margin: 20px 0; }
.detalle h2 { font-size: 24px; color: #242424; }
.detalle p { font-size: 16px; color: #555; }
